recursive-include pyudev/ *.py
recursive-include doc/ *.rst *.py Makefile
recursive-include tests/ *.py
include distribute_setup.py
include tox.ini library_path_wrapper.py bootstrap_native_bindings.py
global-include requirements.txt
include CHANGES.rst COPYING README.rst
